<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.example.crash"
        version="0.7.0">

  <name>Crash</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/crash.js" target="js/crash.js"/>

  <js-module src="www/crash.js" name="crash">
    <clobbers target="crash" />
  </js-module>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="Crash">
        <param name="ios-package" value="Crash" />
      </feature>
    </config-file>

    <header-file src="src/ios/Crash.h" target-dir="CrashPlugin"/>
    <source-file src="src/ios/Crash.m" target-dir="CrashPlugin"/>
  </platform>

</plugin>